html{
  text-align: center;
}
h1{
  color:white;
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
}
.Bild{
background-image:url("C:/Users/Lars/Documents/GitHub/Broadway-Design/resources/the-flatiron-building.png");
color:white;
}
.Bild2{
background-image:url("C:/Users/Lars/Documents/GitHub/Broadway-Design/resources/the-flatiron-building.png");
color:white;
font-size: 23px;
font-family: Helvetica;
font-weight: bold;#
}
p{
  font-family: Helvetica;
  font-size: 18px;
}
h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-family:Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p{
  font-family: Helvetica;
  font-size: 14px;
}
.Ende{
  text-align: left !important;
  color: white;
  background-color: dimgray;
}
.End{
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
